body {
    display: -webkit-flex;
    display:         flex;

    -webkit-justify-content: center;
    justify-content: center;

    -webkit-align-items: center;
    align-items: center;
}

canvas {
}

h1 {
    text-align: center;
}

#ui-toolbar {
    display: -webkit-flex;
    display:         flex;

    -webkit-justify-content: center;
    justify-content: center;
}
